<!-- widget that shows 1 selected author -->
<div class="global-block">
  <div class="random-author-widjet">
    <img
      src="../../../.{{ model[i].photo }}"
      class="random-author-widjet__poet-img"
    />
    <div class="random-author-widjet__content">
      <h3 class="random-author-widjet__name">{{ model[i].name }}</h3>
      <p class="random-author-widjet__live-time">{{ model[i].liveTime }}</p>
      <hr class="random-author-widjet__partition" />
      <p>{{ model[i].biography }}</p>
      <a href="/poets" class="random-author-widjet__learn-more"
        ><span class="random-author-widjet__inner-link-span"
          >Learn more</span
        ></a
      >
    </div>
  </div>
</div>
