@import '../../../../theme/colors';
.timeline-wrapper {
  max-width: 30%;
  margin: 0 auto;
  @media screen and (max-width: 1024px) {
    max-width: 60%;
  }
  @media screen and (max-width: 600px) {
    max-width: 100%;
    padding: 20px;
  }
  .timeline {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    &__header {
      cursor: pointer;
    }
    &__dot {
      background-color: $primary-blue;
      cursor: pointer;
    }
  }
}
