@import  '../../../../theme/colors';

header {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  align-items: center;
  background-color: $primary-white;

  img {
    height: 100px;
  }

  .header-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  .header-nav {
    color: $primary-black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media screen and (max-width: 600px) {
      margin: 20px 0;
    }
  }

  .bull {
    color: $primary-orange;
    font-size: 16px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 1px;
  }

  a.nav:hover,
  a.nav:focus {
    cursor: pointer;
    color: $secondary-grey;
    font-weight: bold;
  }

  a:-webkit-any-link {
    color: $primary-black;
    text-decoration: none;
  }
  .select-language {
    width: 50px;
    height: 30px;
    font-size: 16px;
    background: $secondary-grey;
    border: none;
    background: $primary-white;
    border-radius: 5px;
    cursor: pointer;
    @media screen and (max-width: 600px) {
      position: absolute;
      right: 10px;
      top: 10px;
    }
     &:hover {
      background: $primary-grey;
    }
  }
  select {
    padding-left: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
