header {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  align-items: center;
  box-shadow: 0px 6px 31px 0 #9aaab02b;
  background-color: #fff;

  img {
    height: 100px;
  }

  .header-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  .header-nav {
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media screen and (max-width: 600px) {
      margin: 20px 0;
    }
  }

  .bull {
    color: #f74e10;
    font-size: 16px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 1px;
  }

  a.nav:hover,
  a.nav:focus {
    cursor: pointer;
    color: #767e9e;
    font-weight: bold;
  }

  a:-webkit-any-link {
    color: #000;
    text-decoration: none;
  }
}
