$bg-color: #fafafa;
$primary-black: #000;  //titles
$secondary-black: #08080b; //text
$primary-grey: #73737D;  //navigation-links
$secondary-grey: #66666F; //navigation hover links
$primary-blue: #6166DC;  //buttons
$secondary-blue: #5256ac; //hover-buttons

