<div class="poets-list">
  <div class="poets-list__search">
    <input
      matInput
      #readWord
      (input)="inputWords(readWord.value)"
      type="text"
      placeholder="Enter name poet or place..."
    >
  </div>
  <div class="poets-list__wrapper">
    <ul>
      <li
        *ngFor="let author of authorsList | searchAuthor: keyWord;"
        class="list">

        <span
          (mouseenter)="selectAuthor(author.id)"
          (click)="goToDetailedPage(author.id)">
            {{ author.name }}
        </span>

        <div class="photo" *ngIf="selected === author.id">
          <img @show [src]="author.photo" alt="author">
        </div>
      </li>
    </ul>

    <div class="skewed"></div>
  </div>
</div>
