<div class="poets-list">
  <!-- <div class="poets-list__search">
    <mat-form-field class="form-field">
      <input
        matInput
        #readWord
        (input)="inputWords(readWord.value)"
        type="text"
        placeholder="Enter name poets..."
    /></mat-form-field>
  </div> -->
  <div class="poets-list__wrapper">
    <ul>
      <li
        *ngFor="let author of authorsList | searchAuthor: keyWord;"
        class="list">

        <span
          (mouseenter)="selectAuthor(author.id)"
          (click)="goToDetailedPage(author.name)">
            {{ author.name }}
        </span>

        <div class="photo" *ngIf="selected === author.id">
          <img @show [src]="author.photo" alt="author">
        </div>
      </li>
    </ul>

    <div class="skewed"></div>
  </div>
</div>